{% extends 'rest_framework_swagger/base.html' %}

{% block header %}
{% endblock %}

{% block django_rest_swagger %}
<div id="django-rest-swagger" style="background:#333;">
  <div class="swagger-ui-wrap">
    <div style="font-size:32px; text-align:left;">
      <strong>Air Quality Dashboard API docs</strong>
    </div>    
    <div style="text-align:right; display:none">
      <a href="https://github.com/marcgibbons/django-rest-swagger/">Django REST Swagger</a>
    </div>    	 
    <br/>
  </div>
</div>
{% endblock %}




