

.ball-grid-pulse > div: {
  background: blue;
}



.ghost-center {
  position: relative;
}
.ghost-center::before {
  content: " ";
  display: inline-block;
  height: 100%;
  width: 1%;
  vertical-align: middle;
}
.ghost-center div {
  vertical-align: middle;
}

.stats 
{      
  display: inline-block;
  box-sizing: border-box;    
  text-align: center;
  padding: 12px 5px 10px 0px;
}


.display-none {
    display:none;
}

.max {
    background: coral; //rgb(255, 153, 0);
    font-size:11px;
}
.avg {
    background: honeydew;
    font-size:11px;
}

.min {
    background: rgb(146, 208, 80);
    font-size:11px;
}




