<!DOCTYPE html>
<html>
<head>
{% load static from staticfiles %}
  <title>IndiaSpend Air Quality Initiative</title>
  <link rel="stylesheet" href={% static "/aq/static/css/filter.css" %} />
  <link rel="stylesheet" href={% static "/aq/static/css/dc.css" %} /> 
  <link rel="stylesheet" href={% static "/aq/static/leaflet/leaflet.css" %} />
  <link rel="stylesheet" href={% static "/aq/static/chosen/chosen.min.css" %} /> 
  <link rel="stylesheet" type="text/css" href="/aq/static/keen/assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/aq/static/keen/assets/css/keen-dashboards.css" /> 
    <style>
      @import url("http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
      @import url("http://fonts.googleapis.com/css?family=Aladin");
    </style>
    <!--<link rel="stylesheet" type="text/css" href="/static/css/flat-ui.css" /> -->
    <link rel="stylesheet" href="/aq/static/css/flat-ui-drum.css" type="text/css">

</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="navbar-brand" href="./">IndiaSpend Air Quality Initiative</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/aq">Home</a></li>
          <li><a href="/aq/view-devices">View Devices</a></li>
          <li><a href="/aq/analysis">Analysis</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="fullrow">
        <div class="chart-wrapper">
          <div class="chart-title">
            Air Quality Dashboard 
	    <div id="data-count" style="float:right">

	      <a href="javascript:dc.filterAll(); dc.renderAll();">Reset Filters</a>
	      </div>
	    

          </div>
          <div class="chart-stage">
	    <div id=""> Time line</div> 
	    <div style="float:left" id="time-chart">
	      <span class='reset' style='display: none;'>  
		Current filter: <span class='filter'></span>
	    </div> 

	    <div style="float:right" id="aqi-display">
	    </div> 

	    
          </div>
          <div class="chart-notes">
            AQI over time
          </div>
        </div>
      </div>
      
    </div>

    <div class="row">
      <div class="col-sm-5">
        <div class="chart-wrapper">
          <div class="chart-title">
	    
	    <div id="banner" style="text-align:right">
	      Select a device to filter:
	      <select id="devicePicker">
	      </select>
	    </div>	    

          </div>
          <div class="chart-stage">
            <div id="grid-1-1">
	      <div id="mappa" class="display" style="height: 400px"> </div> 
              <!-- img data-src="holder.js/100%x240/white/text:#grid-1-1"> -->
            </div>
          </div>
          <div class="chart-notes">
            Click on the map markers or choose from the menu. Click on the other map layers to add to the map view.
          </div>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="chart-wrapper">
          <div class="chart-title">
            Sensor data
          </div>
          <div class="chart-stage">
            <div id="dashboard">
	      <div class="max"> </div>
	      <div id="pm10-chart"> 
		<span class='reset' style='display: none;'>  
		  Current filter: <span class='filter'></span>		  
	      </div> 
	      
	      <div id="pm10-stats"> 		
	      </div> 

	      <div id="pm10-min"> Min 		
	      </div> 

	      <div id="pm10-max"> Max		
	      </div> 

	      <div id="pm10-avg"> Avg		
	      </div> 	      
	      
	      <div id="total"> 		
	      </div> 
	      
	      
	      <br/>
	      <div id="pm25-chart">
		<span class='reset' style='display: none;'>  
		  Current filter: <span class='filter'></span>
		  
	      </div> <br/>
	      <div id="temp-chart">
		<span class='reset' style='display: none;'>  
		  Current filter: <span class='filter'></span>
	      </div> <br/>
	      <div id="hum-chart"> 
		<span class='reset' style='display: none;'>  
		  Current filter: <span class='filter'></span>
	      </div> <br/>
	    </div>	            
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
	    Particle counts (Experimental data)
          </div>
          <div class="chart-stage">
		<div id="cs-chart" class="">
		  <div class="title">Small particle count</div>
		  <span class='reset' style='display: none;'>  
		    Current filter: <span class='filter'></span>
		    
		</div>

		<div id="cl-chart" class="">
		  <div class="title">Large particle count</div>
		  <span class='reset' style='display: none;'>  
		    Current filter: <span class='filter'></span>

		</div>

          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>


      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Averages
          </div>
          <div class="chart-stage">
	    <div id="pm25-chart2" class="bChart display">
	      <div class="title" class="reset" >PM 2.5
	      </div>
	      <span class="reset" style='display: none;'>  
		Current filter: <span class='filter'></span>
		
	    </div>	    
	    <div id="pm10-chart2" class="bChart display">
	      <div class="title">PM 10
	      </div>
		<span class='reset' style='display: none;'>  
		  Current filter: <span class='filter'></span>
	    </div>	    
          </div>
          <div class="chart-notes">
            This chart shows how frequently the same values occur (histogram).
	    As you can see PM10 and PM25 have different concentration regions. Drag on the charts to show which of these values are prominent during different times of the day.
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Averages
          </div>
          <div class="chart-stage">
	    <div id="chart-ring-year" class="">

	    </div>		  


		<div id="temp-chart2" class="bChart display">
			<div class="title">Temperature</div>
		</div>

		<div id="humidity-chart2" class="bChart display">
			<div class="title">Humidity</div>
		</div>
		  <br/>
		   <p>Need more data to compute averages!</p>
		
          </div>
          <div class="chart-notes">
            Notes about this chart
          </div>
        </div>
      </div>
<!-- end of three -->
    <hr>

<div>

  <table class="table panel panel-default table-hover">
    <thead>
      <tr class="active">
        <th class="col-md-1 text-center">AQI</th>
        <th class="col-md-2 text-center">Remark</th>
        <th class="col-md-1">Color Code</th>
        <th class="col-md-8">Possible Health Impacts</th>                  
      </tr>
    </thead>
    <tbody class="aqi-desc-container">
      <tr class="" style="">
        <td class="col-md-1 aqi-value text-center text-middle">0-50</td>
        <td class="col-md-2 remark text-center text-middle">Good</td>
        <td class="col-md-1 color-code" style="background-color: rgb(0, 176, 80);"></td>          
        <td class="col-md-8 desc">Minimal impact</td>     
      </tr><tr class="" style="">
        <td class="col-md-1 aqi-value text-center text-middle">51-100</td>
        <td class="col-md-2 remark text-center text-middle">Satisfactory</td>
        <td class="col-md-1 color-code" style="background-color: rgb(146, 208, 80);"></td>          
        <td class="col-md-8 desc">Minor breathing discomfort to sensitive people</td>     
      </tr><tr class="" style="">
        <td class="col-md-1 aqi-value text-center text-middle">101-200</td>
        <td class="col-md-2 remark text-center text-middle">Moderate</td>
        <td class="col-md-1 color-code" style="background-color: rgb(255, 255, 0);"></td>          
        <td class="col-md-8 desc">Breathing discomfort to the people with lungs, asthma and heart diseases</td>     
      </tr><tr class="" style="">
        <td class="col-md-1 aqi-value text-center text-middle">201-300</td>
        <td class="col-md-2 remark text-center text-middle">Poor</td>
        <td class="col-md-1 color-code" style="background-color: rgb(255, 153, 0);"></td>          
        <td class="col-md-8 desc">Breathing discomfort to most people on prolonged exposure</td>     
      </tr><tr class="" style="">
        <td class="col-md-1 aqi-value text-center text-middle">301-400</td>
        <td class="col-md-2 remark text-center text-middle">Very Poor</td>
        <td class="col-md-1 color-code" style="background-color: rgb(255, 0, 0);"></td>          
        <td class="col-md-8 desc">Respiratory illness on prolonged exposure</td>     
      </tr><tr class="" style="">
        <td class="col-md-1 aqi-value text-center text-middle">401-500</td>
        <td class="col-md-2 remark text-center text-middle">Severe</td>
        <td class="col-md-1 color-code" style="background-color: rgb(192, 0, 0);"></td>          
        <td class="col-md-8 desc">Affects healthy people and seriously impacts those with existing diseases</td>     
    </tr></tbody>
  </table>


  <!--
  <table class="table panel panel-default table-hover">
    <thead>
      <tr class="active">
        <th class="col-md-1 text-center">AQI</th>
        <th class="col-md-2 text-center">Remark</th>
        <th class="col-md-1">Color Code</th>
        <th class="col-md-8">Possible Health Impacts</th>                  
      </tr>
    </thead>
    <tbody class="aqi-desc-container">
      <tr class="" style="">
        <td class="col-md-1 aqi-value text-center text-middle">0-50</td>
        <td class="col-md-2 remark text-center text-middle">Good</td>
        <td class="col-md-1 color-code" style="background-color: rgb(0, 228, 0);"></td>          
        <td class="col-md-8 desc">Minimal impact</td>     
      </tr><tr class="" style="">
        <td class="col-md-1 aqi-value text-center text-middle">51-100</td>
        <td class="col-md-2 remark text-center text-middle">Satisfactory</td>
        <td class="col-md-1 color-code" style="background-color: rgb(255, 255, 0);"></td>          
        <td class="col-md-8 desc">Minor breathing discomfort to sensitive people</td>     
      </tr><tr class="" style="">
        <td class="col-md-1 aqi-value text-center text-middle">101-200</td>
        <td class="col-md-2 remark text-center text-middle">Moderate</td>
        <td class="col-md-1 color-code" style="background-color: rgb(255, 126, 0);"></td>          
        <td class="col-md-8 desc">Breathing discomfort to the people with lungs, asthma and heart diseases</td>     
      </tr><tr class="" style="">
        <td class="col-md-1 aqi-value text-center text-middle">201-300</td>
        <td class="col-md-2 remark text-center text-middle">Poor</td>
        <td class="col-md-1 color-code" style="background-color: rgb(255, 0, 0);"></td>          
        <td class="col-md-8 desc">Breathing discomfort to most people on prolonged exposure</td>     
      </tr><tr class="" style="">
	<td class="col-md-1 aqi-value text-center text-middle">301-400</td>
        <td class="col-md-2 remark text-center text-middle">Very Poor</td>
        <td class="col-md-1 color-code" style="background-color: rgb(153, 0, 76);"></td>          
        <td class="col-md-8 desc">Respiratory illness on prolonged exposure</td>     
      </tr><tr class="" style="">
	<td class="col-md-1 aqi-value text-center text-middle">401 and above</td>
        <td class="col-md-2 remark text-center text-middle">Severe</td>
        <td class="col-md-1 color-code" style="background-color: rgb(126, 0, 35);"></td>          
        <td class="col-md-8 desc">Affects even healthy people and seriously impacts those with existing diseases</td>     
    </tr></tbody>
</table>  -->


</div>

    <p class="small text-muted">By IndiaSpend.org  License:Creative Commons CC-By-SA 3.0<a href=""></a></p>

  </div>

  <script type="text/javascript" src="/aq/static/keen/assets/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/aq/static/keen/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/javascript" src="/aq/static/keen/assets/lib/holderjs/holder.js"></script>
  <script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
  </script>

 <!--  <script type="text/javascript" src="/aq/static/keen/assets/lib/keen-js/dist/keen.min.js"></script> 
  <script type="text/javascript" src="/aq/static/keen/assets/js/meta.js"></script> -->

  <script src={% static "/aq/static/js/lib/colorbrewer.js" %}></script>
  <script src={% static "/aq/static/js/lib/d3.js" %}></script>
  <script src={% static "/aq/static/js/lib/crossfilter.js"%}></script>
  <script src={% static "/aq/static/js/lib/dc.js" %}></script>
  <script src={% static "/aq/static/js/lib/reductio.min.js" %}></script>
  <script src={% static "/aq/static/js/lib/underscore-min.js" %}></script>

  <script src={% static "/aq/static/js/lib/topojson.v1.js" %}></script>
  <script src={% static "/aq/static/js/lib/queue.js" %}></script>
  <script src={% static "/aq/static/js/elems/barChart.js"%}></script>
  <script src={% static "/aq/static/js/elems/circleChart.js"%}></script>
  <script src={% static "/aq/static/leaflet/leaflet.js" %}></script>
 <!--  <script src={% static "/aq/static/jquery/js/jquery-2.1.4.min.js" %}></script> -->
  <script src={% static "/aq/static/chosen/chosen.jquery.min.js" %}></script>
  <script src={% static "/aq/static/js/drawMap.js" %}></script>

</body>
</html>
