{% extends "base.html" %}

{% block body_class %}blog{% endblock %}

{% block body %}
        <div class="col-md-8 content">
	    
            {% block content %}	    
	    
	    <div style="overflow:hidden;">
	      <img src="static/img/smog2.jpg" alt="" style="margin:-30% 0px -10% 0px;" />
	    </div>
	    

	    <div>
	      <p>
	      <h1>The Air Quality Initiative</h1>
		<p class="lead"> Why is this so important?</p>
		<p>Content to be filled in here..

		  Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..Content to be filled in here..
		  
		</p>
	      </p>
		
	    </div>

{% endblock %}
        </div>
    </div>
{% endblock %}
