{% extends "base.html" %}

{% block body_class %}blog{% endblock %}

{% block body %}
        <div class="col-md-8 content">
	    
            {% block content %}	    
	    
	    <div style="overflow:hidden;">
	      <img src="/aq/static/img/smog2.jpg" alt="" style="margin:-30% 0px -10% 0px;" />
	    </div>
	    

	    <div>
	      <p>
	      <h1>The Air Quality Initiative</h1>
		<p class="lead"> Why is this so important?</p>
		<p style="float:left; width:48%; min-height:400px;">
		  Human beings have begun to impact the air we breathe in ways that 
		  are irreversible. 	  
		  <br/>
		  Environmental scientists conclude that there are some things that cannot be reversed with regards to the earth and its resources. There are certain elements of nature that cannot be replenished or restored. And regrettably, the kind of global political will required to safeguard our future environment is not acheived currently nor is foreseeable in the near future unless some environmental repercussions come to the fore.
		  The city that promises work, a better living and well being, has now become a place which harbours the seeds of health complications. What does this mean for us in the short term?
		  <br/> <br/>
		  The rise of lung cancer in children in industrious Chinese cities are causing governments to take alarm. Yet, any solution to reverse or combat the current levels of air pollution looming over our cities is necessarily long term and will not be controllable in the near future. 
		  <br/>
		  There are laws in many countries which stipulate that a city having a population of over a number of people is mandated by law to collect, collate and publish Air Quality Index (AQI) information for its vicinity.
		</p>
	      <p style="float:right; width:48%; min-height:400px;">
		
		The US currently requires every city with a population above 3.5 lakh people to make AQI data publicly available and accessible.
		<br/>
		These laws uphold the moral right of the citizen who is desirous of inhabiting or visiting a place, to know what the invisible air contains and what it would mean to them. Those who are sensitive to the environment have a necessity to safeguard their health and to be able to gauge whether a given place would be safe for them to visit.
		<br/> 
		It becomes resonably imperative for us to see the unseen and to enable others to see it as well.
		<br/> <br/>
		Keeping that in mind, we at IndiaSpend have created tools to analyse air quality patterns from a qualitative as well as quantitive standpoint. 
		<br/>
		We hope that it can help one gain perspective as to where we stand with regards to the air we breathe.  
		<br/>		<br/>
		  <b><a href="/aq/analysis"> Click here to view the AQI dashboard. </a></b>		  
		</p>		

		</p>
	      </p>
		
	    </div>

{% endblock %}
        </div>
    </div>
{% endblock %}
